<div class="container">
  <h2>Histórico de Consultas:</h2>

  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="cep">CEP</th>
      <th mat-sort-header="localidade">Localidade</th>
      <th mat-sort-header="bairro">Bairro</th>
      <th mat-sort-header="uf">UF</th>
    </tr>
    <tr *ngFor="let resultado of sortedResults">
      <td>{{ resultado.cep }}</td>
      <td>{{ resultado.localidade }}</td>
      <td>{{ resultado.bairro }}</td>
      <td>{{ resultado.uf }}</td>
    </tr>
  </table>
</div>
