<div class="container">
  <!-- Seção de consulta de endereço -->
  <h1>Consulta de Endereço por CEP</h1>
  <div id="searchForm">
    <label for="cepInput">Digite o CEP:</label>
    <input type="text" id="cepInput" placeholder="Digite o CEP" [(ngModel)]="cepSent"
      [ngClass]="{'invalid-cep': !cepValid}">
    <button (click)="getAddress()">Consultar</button>
    <p *ngIf="!cepValid" class="error-message">O CEP deve conter 8 dígitos numéricos.</p>
    <p *ngIf="cepNotFound" class="error-message">O CEP informado não existe.</p> <!-- Nova mensagem para CEP não encontrado -->
  </div>

  <!-- Seção de resultado da consulta -->
  <h2>Resultado da Consulta:</h2>
  <div id="addressDetails" *ngIf="address && !cepNotFound"> <!-- Verificando se o endereço existe e se o CEP não foi encontrado -->
    <ul>
      <!-- Detalhes do endereço -->
    </ul>
  </div>

  <!-- Seção de histórico de consultas -->
  <div id="storedAddresses" *ngIf="show">
    <app-history [results]="previousAppointments"></app-history>
  </div>
</div>
