<div class="container">

    <h1>Consulta de Endereço por CEP</h1>
    <div id="searchForm">
        <label for="cepInput">Digite o CEP:</label>
        <input type="text" id="cepInput" placeholder="Digite o CEP">
        <button onclick="searchAddress()">Consultar</button>
    </div>
    <div id="addressDetails">
      <ul>
        <li><strong>CEP:</strong> 01001-000</li>
        <li><strong>Logradouro:</strong> Praça da Sé</li>
        <li><strong>Complemento:</strong> lado ímpar</li>
        <li><strong>Bairro:</strong> Sé</li>
        <li><strong>Localidade:</strong> São Paulo</li>
        <li><strong>UF:</strong> SP</li>
        <li><strong>IBGE:</strong> 3550308</li>
        <li><strong>GIA:</strong> 1004</li>
        <li><strong>DDD:</strong> 11</li>
        <li><strong>SIAFI:</strong> 7107</li>
    </ul>

    </div>
    <div id="storedAddresses">
        <!-- Aqui serão exibidos os endereços armazenados -->
    </div>


</div>
